version: "3.8"

services:

  app:
    build: .
    working_dir: $APP_DEST
    environment:
      APP_ENV: local
      APP_URL: http://localhost:$APP_PORT
    volumes:
      - $APP_SRC:$APP_DEST
      - ./xdebug/conf.d/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - php:/usr/local/etc/php

volumes:
  php:
